
<!--
   The body of of the main html page dynamically created by Handlebars
-->

  <div class="container">
    <div class="row">
      <div class="burger-lists">
        <ul>
          {{#each burgers}}
            {{#unless devoured}}
              {{> burgers/burger-block devoured=true}}
            {{/unless}}
          {{/each}}
        </ul>
      </div>
      <div class=" burger-create">
        <img class="sams-image" src="/assets/images/SamsBurgerJoint.png" alt="sams image" width="300" height="100">
        <!-- <h1 class="main-title">Eat-Da-Burger!</h1> -->
        <img src="/assets/images/Burger.png" alt="burger image" width="75" height="75">
        <form>
          <div class="form-group">
            <input type="text" id="burger-name" name="name">
          </div>
        </form>
        <button class="btn btn-primary" id="add-burger">Add Burger</button>
      </div>
      <div class="burger-lists">
        <ul>
          {{#each burgers}}
            {{#if devoured}}
              {{> burgers/burger-block devoured=false}}
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
      